@import "collection/variables";
@import "collection/mixins";

body {
  background: @bg_color_1;
}

.page-logo {
  text-align: center;
  padding: .5em 0 2.3em 0;
  img {
    height: 3.1em;
    max-width: 90vw;
    max-height: 5em;
  }
}

.form-description {
  padding-top: .5em;
  font-size: .95em;
  color: #918f97;
}
