/*COLORS*/
/*Example*/
.admin-dashboard .main-header .logo-mini img {
  max-width: 50%;
}
.admin-dashboard .main-header .logo-lg img {
  max-width: 78%;
}
.admin-dashboard .main-sidebar .sidebar .user-panel .image img {
  width: 3.1em;
  max-width: 100%;
  background: white;
}
