/*COLORS*/
/*Example*/
.admin-dashboard .main-header .logo-mini img {
  max-width: 50%;
}
.admin-dashboard .main-header .logo-lg img {
  max-width: 78%;
}
.admin-dashboard .main-sidebar .sidebar .user-panel .image img {
  width: 3.1em;
  max-width: 100%;
  background: white;
}
.admin-dashboard .content-wrapper .users-index .for-form-inline form {
  display: inline-block;
}
.admin-dashboard .content-wrapper .users-create .register-box {
  margin-top: 1em !important;
}
