/*COLORS*/
/*Example*/
.notification-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 1.1em;
  font-weight: 600;
  font-family: Arial, Tahoma, Helvetica, Verdana, Lucida, sans-serif;
}
.notification-top button.close {
  font-size: 1.8em;
}
.notification-top .alert {
  border-color: transparent;
}
.notification-top .alert-error {
  background: #dd4b39 !important;
}
.notification-top .alert-warning {
  background: #f0ad4e !important;
}
.notification-top .alert-success {
  background: #5cb85c !important;
}
.notification-top .alert-info {
  background: #5bc0de !important;
}
.notification-page {
  padding-bottom: .9em;
}
.notification-page .alert {
  font-family: Helvetica, Arial, Tahoma, Verdana, Lucida, sans-serif;
  margin-bottom: .5em;
  color: #5c6664 !important;
}
.notification-page .alert a {
  color: #00a7d0 !important;
}
